---
import Image from "astro/components/Image.astro";
import AnansiWebWhite from "../assets/anansi_web_white.svg";
---

<header id="header">
  <a href="/portfolio" class="flex items-center gap-2">
    <Image
      src={AnansiWebWhite}
      class="max-w-12"
      alt="Anansi Logo"
      loading="eager"
    />
    <h1 class="syne">TIAGOFERRER</h1>
  </a>
  <p class="italic">site em construção</p>
  <nav>
    <a href="/portfolio/contact">contato</a>
    <!-- <a class="hire-me">Me Contrate</a> -->
  </nav>
</header>

<style>
  nav {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  a {
    cursor: pointer;
  }
  #header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    justify-content: space-between;
    padding: 0 32px;
    align-items: center;
    mix-blend-mode: difference;
    color: white;
    z-index: 1000;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  #header .hire-me {
    background-color: #f50057;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
  }
</style>
